body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://media.tenor.com/eFnvLOhTMJ0AAAAi/heart-sad-upset.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.apology-letter {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e60000;
}

#sweet-message img {
    max-width: 100%;
    border-radius: 10px;
}

#sweet-message p {
    font-size: 18px;
    margin-top: 10px;
}
